.advantages {
    background-color: #F9F9F9;
    color:#383A4C;
}

.advantages__bcg-wrap{
    padding: 70px 30px;

}
.advantages__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    margin-bottom: 26px;
}

.advantages__about {
    position: relative;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    max-width: max-content;
    margin: 0 auto 35px;
}


.advantages__about::before {
    position: absolute;
    content: "";
    width: 43px;
    border-bottom: 2px solid #000000;
    top: 12px;
    right: 81px;
}

.advantages__about::after {
    position: absolute;
    content: "";
    width: 43px;
    border-bottom: 2px solid #000000;
    top: 12px;
    left: 79px;
}

.advantages__lead {
    max-width: 724px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 57px;
}

.advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    counter-reset: count 0;
}

.advantages__item {
    flex-basis: 196px;
}

.advantages__number {
    position: relative;
    width: 122px;
    height: 122px;
    

    text-align: center;
    color: #FFFFFF;

    margin: 0 auto;
    margin-bottom: 16px;
    background-color: #23C7EC;
    border-radius: 50%;
}

.advantages__number:after {
    position: absolute;
    content: counter(count);
    top: 50%;
    transform: translate(-50%, -42%);
    font-weight: 500;
    font-size: 57px;
    line-height: 100%;
    counter-increment: count;
}

.advantages__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

@media (max-width: 1084px){
    .advantages__bcg-wrap{
        padding-top: 71px;
    }

    .advantages__title {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 24px;
    }
    
    .advantages__about {

        font-size: 20px;
        line-height: 23px;

        max-width: max-content;
        margin: 0 auto 30px;
    }
    
    .advantages__about::before {
        width: 40px;
        top: 10px;
        right: 74px;
    }
    .advantages__about::after {
        width: 40px;
        top: 10px;
        left: 72px;
    }
    .advantages__lead {
        max-width: 640px;
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 59px;
    }
    
    .advantages__item{
        flex-basis: 180px;
    }
    
    .advantages__number{
        width: 104px;
        height: 104px;
        margin-bottom: 25px;
    }
    .advantages__number:after{
        font-size: 52px;
        line-height: 73px;
        transform: translate(-54%, -48%);
    }
    .advantages__text {
        font-size: 18px;
        line-height: 25px;
    }
}

@media (max-width: 768px){
    /* .advantages__list {
        flex-wrap: wrap;
    } */

    .advantages__item {
        flex-basis: calc(25% + 50px);
    }

@media (max-width: 380px){

    .advantages__bcg-wrap{
        padding-top: 32px;
        padding-bottom: 63px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .advantages__title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 17px;
    }

    .advantages__about {
        font-size: 16px;
        line-height: 19px;
    }
    
    .advantages__about::before {
        top: 11px;
        right: 67px;
        width: 21px;
    }
    .advantages__about::after {
        top: 11px;
        left: 68px;
        width: 21px;
    }
    .advantages__lead {
        margin-bottom: 40px;
        font-size: 12px;
        line-height: 17px;
    }
    
    .advantages__list {
        flex-direction: column;
        gap: 43px;
        counter-reset: count 0;
    }
    .advantages__number {

    }

    .advantages__text{
        padding: 0 15px;
    }
}