.user-contacts {
    background-image: url("../image/user-contacts-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    box-shadow: inset 1600px 0px rgba(47, 50, 75, 0.85);
    color: #FFFFFF;    
    
}

.container{
    padding: 72px 30px 70px;
}

.user-contacts__flex-wrap{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.user-contacts__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.user-contacts__text {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 0.8);
}

.user-contacts__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    width: 100%;
}

.user-contacts__fieldset {
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 423px;
    gap: 21px;
    margin-bottom: 50px;
    border: none;
    width: 100%;
}

.user-contacts__input {
    flex-basis: 44px;
     /* Делает само поле ввода прозрачным */
    background: transparent;
    width: 100%;
    border: 1.38235px solid #FFFFFF;
    border-radius: 50px;
    font-size: 22px;
    line-height: 26px;
    padding-left: 25px;
}


.user-contacts__btn {
    /* max-width: max-content; */
    min-height: 48px;
    padding: 11px 38px;
    background-color: #15A9CB;
    box-shadow: 0px 4px 25px rgba(21, 169, 203, 0.3);
    border-radius: 50px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.user-contacts__personal-data {
    font-size: 20px;
    line-height: 23px;
}

.user-contacts__personal-link{
    color: #4A76A8;
    border-bottom: 1px solid #4A76A8;
}

@media (max-width: 1084px) {
    .container{
        padding-bottom: 56px;
    }

    .user-contacts__title{
        font-size: 32px;
        line-height: 38px;
    }

    .user-contacts__text{
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 47px;
    }

    .user-contacts__form{

    }

    .user-contacts__fieldset{
        max-width: 379px;
        margin-bottom: 48px;
    }

    .user-contacts__input {
        flex-basis: 39px;
        outline: 2px solid #FFFFFF;
        border: none;
        border-radius: 50px;
        font-size: 20px;
        line-height: 23px;
        padding-left: 22px;
    }

    .user-contacts__btn {
        margin-bottom: 30px;
    }

    .user-contacts__personal-data {
        font-size: 17px;
        line-height: 20px;
    }
}

@media (max-width: 380px) {
    .container{
        padding: 31px 15px 30px;

    }

    .user-contacts__title{
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 12px;
    }

    .user-contacts__text{
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 37px;
    }

    .user-contacts__form{
        padding: 0;
    }

    .user-contacts__fieldset{
        gap: 15px;
        margin-bottom: 45px;
    }

    .user-contacts__input {
        flex-basis: 28px;
        font-size: 14px;
        line-height: 16px;
        padding-left: 18px;
        outline: 1px solid #FFFFFF;
        border: none;
        border-radius: 50px;
    }
    .user-contacts__btn {
        min-height: 38px;
        padding: 10px 31px;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 28px;
    }
    .user-contacts__personal-data{
        font-size: 11px;
        line-height: 13px;
    }
}
